
:root {
    --newgreen: #8ec045;
    --darkgreen: #2d604e;
    --lightgreen: #c5dd90;
    --yellowgreen: #f5ffd7;
    --lightyellow: #fae782;
}

*{
    image-rendering: crisp-edges;

}

@font-face {
    font-family: "Main";
    src: url("../assets/font/main-font.otf") format("opentype");
}


@font-face {
    font-family: "Thin";
    src: url("../assets/font/thin.otf") format("opentype");
}

@font-face {
    font-family: "Light";
    src: url("../assets/font/light.otf") format("opentype");
}

.main-font{
    font-family: 'Main', sans-serif;
    letter-spacing: 1px;
}

.thin-font{
    font-family: 'Thin', sans-serif;
    letter-spacing: 1px;
}

.light-font{
    font-family: 'Light', sans-serif;
    letter-spacing: 1px;
}

html{
    font-size:18px;
    font-family: 'Thin', sans-serif;
}


.bold-text{
    color: var(--lightgreen);
    font-family: "Main";
}

.img-radius{
    border-radius: 10px;
    box-shadow: 1px 1px 5px #2c615047;
}

.lightyellow-text{
    color: var(--lightyellow);
}

.lightgreen-text{
    color: var(--lightgreen);
}

h1, h2, .section-label{
    font-family: 'Main', sans-serif;

}
p, h3{
    font-family: 'Thin', sans-serif;
}

p{
    color:var(--darkgreen);
}

a:link {
    color: inherit;
}
  
a:visited {
    color: inherit;
}

a:hover {
    color: var(--darkgreen);
}

a:active {
    color:var(--darkgreen);
}

.big-font{
    font-size: 7rem;
    line-height: 5rem;
}


#menu-logo{
    max-width:20rem;
}
#login-icon{
    max-width:35px;
}

#preheader{
    font-family: 'Main', sans-serif;
}

#mainheader{
    font-family: 'Main', sans-serif ;
    background-color: white;
    font-size: 0.8rem;

}

.dropdown-content{
    position:absolute;
    visibility: hidden;
    background-color: var(--lightgreen);
    display: grid;
    padding: 0.5rem;
    z-index: 9999;
    border-radius: 0 0 10px 10px;
}

.nav-item:hover .dropdown-content{
    visibility: visible;
}

footer{
    font-size: 0.9rem;
    line-height: 1.5rem;
    background-color: var(--darkgreen);
    padding: 50px 0 !important;
}

footer ::-webkit-input-placeholder {
    text-align: center;
    font-size:18px;
    color:var(--lightgreen);
 }
 
 footer :-moz-placeholder { /* Firefox 18- */
    text-align: center;  
    font-size:18px;
    color:var(--lightgreen);
 }
 
 footer ::-moz-placeholder {  /* Firefox 19+ */
    text-align: center; 
    font-size:18px; 
    color:var(--lightgreen);
 }
 
 footer :-ms-input-placeholder {  
    text-align: center; 
    font-size:18px;
    color:var(--lightgreen);
 }

 footer p{
     color:white;
     font-weight: 100;
 }

 footer h4{
    color:var(--yellowgreen);
    font-family: "Light";
    font-size: 1.4rem;
    letter-spacing: 0.2rem;
}

footer input{
    padding: 10px;
    text-align: center;
}



.nav-link{
    color:var(--darkgreen) !important;
}

.nav-link:hover{
    color:var(--lightgreen) !important;
}

#menu-search-icon{
    font-size: 18px;
    padding: 12px;
}

#mobile-menu-icon{
    font-size: 28px;
    padding: 12px 16px;
}

#menu-mobile{
    width: 100%;
    background-color: aliceblue;
    height: 100%;
    left: -100%;
}


.carousel-item{
    min-height: 75vh;
    background-color: white;
}

#search-input{
    opacity:0;
    width:0;
    transition: 1s;
}

#search-input.active{
    opacity:1 !important;
    width:350px !important;
}

#search-input.active+span #menu-search-icon{
    
    background-color: transparent !important;
}

#main-slide{
    background-image: url("../assets/img/ilustracao_coopernico-com-caras.png");
    background-size: cover;
    background-position-y: bottom;
    background-position-x: left;
    background-repeat: no-repeat;
}

.coop-btn{
    border-radius: 50px;
    background-color: var(--newgreen);
    border:0;
    font-weight: 600;
    transition: 0.33s ease-in-out;
    border: solid 3px var(--newgreen);
    padding: 0.33rem 1.1rem;
    color: var(--darkgreen);
    font-family: "Main";
    font-size: 1.33rem;
}

.coop-btn-alt{
    border-radius: 50px;
    background-color: var(--darkgreen);
    border:0;
    font-weight: 600;
    transition: 0.33s ease-in-out;
    border: solid 3px var(--darkgreen);
    padding: 0.33rem 1.1rem;
    color: var(--newgreen);
    font-family: "Main";
    font-size: 1.33rem;
}

.coop-btn:hover{
    background-color: transparent !important;
    color: var(--newgreen);
}

.coop-btn-alt:hover{
    background-color: transparent !important;
    color: var(--darkgreen);
}




.carousel-control-prev {
    width:20%;

}

.carousel-control-next {
    width:20%;
}

.form-input{
    background-color: transparent;
    border-radius:50px;
    width: 100%;
    border:solid 2px var(--lightgreen) !important;
    color: var(--lightgreen);
    margin: 10px auto;
}

footer button{
    width: 100%;
    
}

.section-label{
    background-color: var(--newgreen);
    width: min-content;
    padding: 5px 30px;
    position: relative;
    top:-25px;
    border-radius: 50px;
    width: max-content;
    letter-spacing: 3px;
    font-size: 2rem;
}

.bg-lightgreen{
    background-color: var(--lightgreen);
}

.bg-yellowgreen{
    background-color: var(--yellowgreen);
}

.bg-lightyellow{
    background-color: var(--lightyellow);
}

.bg-darkgreen{
    background-color: var(--darkgreen);
}

.bg-newgreen{
    background-color: var(--newgreen);
}

#popup-lamp{
    position:fixed;
    background-color: var(--lightyellow);
    width: 70px;
    height:70px;
    z-index: 10;
    background-image: url("../assets/icons/5_lampada.png");
    background-size: contain;
    background-position-x: 2px;
    border-radius:100%;
    bottom: 5vh;
    right: 2vh;
    box-shadow: 0px 0px 3px rgb(104, 104, 104);
    transition: all 0.5s ease-in-out;
}

#popup-lamp-btn1{
    position:relative;
    background-color: var(--lightyellow);
    width: 60px;
    height:60px;
    z-index: 10;
    background-image: url("../assets/icons/5_lampada.png");
    background-size: contain;
    background-position-x: 2px;
    border-radius:100%;
    right: 70px;
    bottom:-5px;
    box-shadow: 0px 0px 3px rgb(104, 104, 104);
    transition: all 0.5s ease-in-out;
    opacity: 0;
    transition-delay: 0.33s;

}

#popup-lamp-btn2{
    position:relative;
    background-color: var(--lightyellow);
    width: 60px;
    height:60px;
    z-index: 10;
    background-image: url("../assets/icons/5_lampada.png");
    background-size: contain;
    background-position-x: 2px;
    border-radius:100%;
    right: -5px;
    bottom:130px;
    box-shadow: 0px 0px 3px rgb(104, 104, 104);
    transition: all 0.5s ease-in-out;
    opacity: 0;
}
#popup-lamp:hover div{
    opacity: 1 !important;
}

#popup-lamp:hover{
    box-shadow: 0px 0px 3px rgb(173, 173, 173);

}

@keyframes btn2 {
    0%   {opacity: 1;}
    50%  {opacity: 1;}
    100% {opacity: 0;}
}

.coop-card-container{
    margin-bottom: 20px;
}

.coop-card:hover{
    box-shadow: 2px 2px 2px rgb(177, 177, 177);
    -webkit-font-smoothing: subpixel-antialiased;
    backface-visibility: hidden;

} 
.counter{
    background-color: var(--newgreen);
}
.counter img{
    width: 100px;
}
.counter h3{
    text-transform: uppercase;
    font-size: 2rem;
    text-align: left;
    color: var(--darkgreen);
    font-family: "Main";

}

.counter p{
    font-family: "Main";
    font-size: 3rem;
    text-align: left;

}

.overlay{
    height: 250px;
    width: 100%;
    background-color: rgba(12, 11, 11, 0.2);
    border-radius: 10px 10px 0 0;
    background-position: center;
    background-size: cover;
}

.coop-card{
    transition: all 1s;
    background-color:white;
    padding: 25px;
    border-radius: 50px ;
    margin-bottom: 20px;
    box-shadow: 1px 1px 5px #2c615047;
    position: relative;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.coop-card-footer{
    padding:1rem
}

.coop-card.news{
    background-size: cover;
    border-radius: 10px;
    background-position: center;
    background-color: var(--lightgreen);
    padding: 0;

}

.news-body{
    padding: 1rem;
}

.news-carousel .news{
    margin:10px;
}


.coop-card-title{
    font-size: 2.5rem;
    font-family: "Main";
    color: var(--lightgreen) ;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.coop-card-description{
    font-family: "Thin";
    color:var(--darkgreen);
    font-weight: 600;
}

.coop-card.news p,.coop-card.news .coop-card-title{
    transform: translateZ(1px);

}

.coop-card .coop-btn{
    width: max-content;
    width: fit-content;
    transform: translateZ(1px);
}

.coop-card-icon {
    width: 100px;
    position: absolute;
    right: -15px;
    bottom: -25px;
}

.inline-list{
    margin-top: 50px !important;
    color:white;
    font-family: "Light";
    font-size: 0.9rem;
}
.inline-list li{
    display: inline-block;
    margin-right: 50px;
}

.separator{
    margin-top: 40px;
    height: 1px;
    background-color: white;
    width: 100%;
}

img{
    max-width: 100%;
}

textarea:focus, input:focus{
    outline: none;
}

.underline{
    width: 40px;
    background: rgba(255, 255, 255, 0.8);
    height: 3px;
    display: block;
    margin-top: -20px;
    margin-bottom: 10px;
}

.news-date{
    position:relative;
    bottom:0;
}

@media only screen and (max-width: 767px) {
    .reverse-mobile{
        flex-flow: column-reverse;
    
    }
  }

